@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200italic);

$white: #fff;
$green: rgb(119,201,119);
$darken-green: rgb(107,181,107);
$orange: tomato;
$grey: #eeeeee;

i {
  &.small { font-size: 2rem; }
  &.medium { font-size: 4rem; }
  &.large { font-size: 6rem; }
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: $grey;
}

h1 {
  color: $green;
  font-size: 3rem;
  margin: 10px 0;
}

/* NAV */
nav {
  background-color: $white;
  height: 64px;
  line-height: 64px;

  a {
    color: $green;

    &.button-collapse {
      i {
        height: 64px;
        line-height: 64px;
      }
    }
  }

  .brand-logo {
    text-align: center;
    height: 64px;
    width: 64px;
    left: 50%;
    margin-right: -32px;

    img.img-60x60 {
      margin-top: 2px;
      width: 60px;
      height: 60px;
    }
  }

  ul {
    a {
      color: $green;

      &:hover {
        color: $white;
      }
    }

    li {
      &:hover {
        background-color: $green;
      }
    }
  }
}

/* END NAV */

/* SECTION INTRODUCTION */

section#introduction {
  width: 100%;
  height: 500px;
  background-image: url(image_path('pov.jpg'));
  background-position: 0 -400px;
  background-repeat: no-repeat;

  .background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.8);
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    h1 {
      font-style:  italic;
      font-weight: 200;
      font-size: 6rem;
      color: $white;
    }
  }
}

/* END SECTION INTRODUCTION */

/* SECTION VALUES */

section#values {
  .browser {
    width: 100%;
    border-radius: 5px 5px 2px 2px;
    -webkit-border-radius: 5px 5px 2px 2px;
    -moz-border-radius: 5px 5px 2px 2px;
    background-clip: padding-box;
    margin: 0;
    overflow: hidden;

    .top-bar {
      background: linear-gradient(#e4e4e3, #E1E1E0);
      height: 30px;
      border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      background-clip: padding-box;
      border-top: thin solid #eaeae9;
      border-bottom: thin solid #dfdfde;

      .circles {
        margin: 5px 12px;

        .circle {
          height: 10px;
          width: 10px;
          display: inline-block;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          background-color: white;
          margin-right: 5px;

          &.close { background-color: #FF5C5A; }
          &.minimize { background-color: #FFBB50; }
          &.maximize { background-color: #1BC656; }
        }
      }
    }
  }

  .content {
    margin: 0;
    padding: 20px;
    width: 100%;
    display: inline-block;
    border-radius: 0 0 5px 5px;
    background-color: $orange;

    &>div {
      margin-bottom: 10px;
    }

    .values-item {
      color: $white;
      padding: 0 25px;

      .icon-container {
        background-color: $white;
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;

        i { color: $green; }
      }

      h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin: 10px 0;
      }

      p {
        strong {
          font-weight: bold;
        }
      }
    }
  }
}

/* END SECTION VALUES */

@import "animate";